

body{
  background-color:  rgba(248, 168, 20, 0.973) !important;
}

.lugares{
  background-color: rgba(255, 196, 0, 0.884) ;
}

.lugares .imagenBar img{
    
    display: flex;
    align-items: center;
    justify-content: center;  
    background-size: cover;
    position: relative; 
      
  }

  .lugares .numeroLugares h2 {
   color: hsl(7, 84%, 47%);
  
  background-color: rgba(255, 0, 0, 0.404);
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px ;
  }

  article {
    background-image: linear-gradient(to bottom, rgba(255, 196, 0, 0.884), #e05200, #fffb00);
  }

  .lista{
      color: rgb(196, 120, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    background-color: rgb(219, 165, 14);
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
  }

  article{
    background-color: rgb(247, 207, 31);
    padding: 35px;
  }

.nombreBar{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    align-items: center;
  }

  .bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-size: 3.5m;
    width: 96%;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  }

  .imagen{
    width: 100%;
  height: auto;
  }