


   <header class="header-bg">
     
     <video id="videoBG" poster="./img/beer.jpg" autoplay muted loop>
            <source src="./img/bgBeer.mp4" type="video/mp4">
      </video>

    </header>

 

   <section class="buscarproducto">
      <div class="titulos">
        <h1>A DÓNDE PINTA?</h1>
        <h2>Busca tu bar mas cercano de cerveza artesanal en Mendoza </h2>
      </div>

      <div class="barra-busqueda">
        <label for="producto"><h2>Ingresa una localidad de Mendoza</h2></label>
        <input class="form-control form-control-borderless form-control-lg" style="padding: 10px;" type="text" name="product" id="product" placeholder="Ej: Lujan de Cuyo">
        <div class="botonBuscar"><button class="btn btn-primary" id="buscar" onclick="buscarBar()">Buscar</button></div> 
      </div>

      <div class="redes">
      <i class="fab fa-facebook fa-3x"></i>
      <i class="fab fa-twitter-square fa-3x"></i>
      <i class="fab fa-instagram fa-3x"></i>
    </div>
    </section>




<script>
    /** Esta funcion llamada del botón buscar, lleva a la url en donde se arrojan los resultados */
    function buscarBar() {

        /** url del app.get "/bares", queda "localhost:3000/bares" */

        let url = "/bares?"

        /** Se crea el elemento del string que se pone en la búsqueda dentro del input*/

        let product = document.getElementById("product").value;

        /** Se arma la url de la página con los resultados arrojados según la búsqueda. Ej, si se buscó "lujan", queda "http://localhost:5000/bares?bares=lujan" **/

        if (product) {
            url += "bares=" + product;
        }

        location = url;
    }

    

</script>