<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesBares.css">
    <link rel="stylesheet" href="/css/redes.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f2cdc0d26b.js" crossorigin="anonymous"></script>

    <title>Cerveza Artesanal Mendoza</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">
</head>

<body>
    {{{body}}}
</body>

<script src = "https://maps.googleapis.com/maps/api/js"></script>


</html>